html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
h1,h2{
    margin: 0;
    color: #EED6D3;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 16px;
}
h3{
    margin: 25px;
}
header{
    background-color: #67595E;
}
.header-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pumpkin{
    width: 80px;
}
.header-inner div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.emotion-radios{
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    width: 100%;
}

label{
    font-size: 14px;
    padding: 3px;
    width: 100%;
    cursor: pointer;
}
.gifs-check{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.btn-get-image{
    background-color: #67595e;
    padding: 15px 19px;
    font-weight: 800;
    font-size: 28px;
    color: #eed6d3;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
}
.radio-Container{
    border-bottom:  1px solid #bcbcbc;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    color: black;
}

.radio-Container:last-child{
    border-bottom: none;
}
.highlight{
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
    accent-color: #bd301d;
}
.meme-modal{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #67595e;
    background-color: #fff0ee;
    height: 499px;
    width: 420px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.btn-meme-modal-close{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
}
.btn-meme-modal-close:hover{
    color: white;
    background-color: #bd301d;
    border: 2px solid #bd301d;
}

.cat-img{
    max-width: 340px;
    max-height: 420px;
    border-radius: 5px;
}